a {
    text-decoration: none;
}
.navigation, .text {
    color: darkgray;
}

.main-page, .site {
    background: #f6f2ee;
}
.navigation:hover {
    color: gray;
}
.cart-img {
    max-height: 70px;
    max-width: 70px;
}

.badge {
    padding-top: 13px;
}

.instagram {
    border: 1px solid gray;
    border-radius: 30px;
    margin-right: 50px;
    margin-top: 10px;
    font-size: 25px;
    margin-left: 20px;
    padding: 1px 20px;
}

.instagram:hover {
    background: black;
    color: white;
}

.title-block {
    width: 130px;
    margin-left: 10px;
}

.cart-main-page {
    margin-top: 100px;
}

.cart-left-side {
    max-width: 500px;
}


.cart-items {
    margin-top: 5px;
}
.button-change {
    padding-top: 8px;
}

.item-quantity {
    padding-top: 13px;
    padding-left: 2px;
    padding-right: 2px;
}
.item-price {
    margin-left: 20px;
    margin-top: 12px;
    max-width: 80px;
}

.item-price::after {
    content: " rub.";
}
.totalPrice-block::after {
    content: " rub.";
}

.btn-dark {
    padding: 10px 35px;
}

.btn-submit {
    padding: 10px 100px;
}


.delete-button {
    margin-left: 10px;
    margin-top: 12px;
    padding-top: 5px;
}

.footer-block {
    margin-top: 100px;
}

.img-block {
    align-self: center;
}

.footer-logo {
    margin-left: 100px;
    margin-bottom: 100px;
}

