a {
    text-decoration: none;
    color: black;
}
.my-block-style {
    background: #f6eeee;
}
.my-text-style {
    margin-top: 70px;
}


.badge {
    padding-top: 13px;
}

.instagram {
    border: 1px solid gray;
    border-radius: 30px;
    margin-right: 50px;
    margin-top: 10px;
    font-size: 25px;
    margin-left: 20px;
    padding: 1px 20px;
}

.instagram:hover {
    background: black;
    color: white;
}

.main-block {
    background: #f6eeee;
}

.left_side_pick {
    margin-top: 35px;
    padding: 15px 15px;
    border-radius: 35px;
    background: #00bfff;
    width: fit-content;
    font-size: 25px;
    font-family: arial, serif;
    letter-spacing: 0.05em;
}

.left_side_pick:hover {
    background: #00ace6;
}

.second_section_block {
    background: #f6f2ee;
    height: 300px;
    list-style-type: none;
    color: deepskyblue;
    font-weight: bold;

}
.li_position {
    align-self: center;
    transition: 0.2s;
}
.section_block_text {
    color: deepskyblue;
    font-size: 50px;
}

.li_position:hover {
    padding-bottom: 20px;
    transition: 0.2s;
}

.title-cart {
    font-size: 50px;
    margin-bottom: 50px;
    padding-top: 70px;
    text-align: center;
}
.filter-container {
    display: flex;
    background: #eef6f2;
}

.cart-style {
    width: 35rem;
}
.cart-container {
    background: #e5d9cd;
}
.border-overflow {
    overflow: hidden;
}

.card-img {
    max-width: 400px;
    max-height: 400px;
    transition: 0.2s;
}
.card-img:hover {
    transform: scale(1.2);
    transition: 0.2s;
}
.card-title, .card-text, .add-href {
    align-self: center;
}

.footer-container {
    background: #f4f6ee;
}
.accordion-button {
    border-top: black;
    border-bottom: black;
}
.painter-block {
    background: #eef6f2;
}

.support-block {
    background: #eef2f6;
}

svg:hover {
    fill: url(#radial1);
}
.mail_text {
    color: black;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
    width: fit-content;
    align-self: center;
    padding-bottom: 5px;
}

.mail_text:hover {
    background-size: 100% 2px;
}
.contact_text {
    color: black;
}

.contact_text::after {
    content: '\2192';
}
.contact_text:hover::after {
    content: '\27F6';

}

@media (max-width: 1399px) {
    .card {
        width: 25rem;
    }
}
@media (max-width: 900px) {
    .card {
        width: 18rem;
    }
}
@media (max-width: 768px) {

}

@media (max-width: 600px) {
    .card {
        width: 20rem;
    }
}

